<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <style>
            #map { height: 300px; }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                console.log("Initializing map...");

                var map = L.map('map', {
                    scrollWheelZoom: false
                }).setView([20, 0], 2);
                console.log("Map initialized", map);


                function getIconProperties(zoomLevel) {
                    let size, anchor;
                    if (zoomLevel > 15) {
                        size = [40, 40]; 
                        anchor = [20, 40]; 
                    } else if (zoomLevel > 10) {
                        size = [30, 30]; 
                        anchor = [15, 30]; 
                    } else {
                        size = [20, 20];
                        anchor = [10, 20];
                    }
                    return { size: size, anchor: anchor };
                }

                function updateMarkerIcons() {
                    var currentZoom = map.getZoom();
                    var iconProps = getIconProperties(currentZoom);
                    cities.forEach(function(city) {
                        var newIcon = L.icon({
                            iconUrl: '{{ "/assets/pin-point.png" | relative_url }}',
                            iconSize: iconProps.size,
                            iconAnchor: iconProps.anchor,
                            popupAnchor: [0, -20]
                        });
                        city.marker.setIcon(newIcon);
                    });
                }

                map.on('zoomend', updateMarkerIcons);

                L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
                    subdomains: 'abcd',
                    maxZoom: 20
                }).addTo(map);
                console.log("Tile layer added");

                var cities = [
                    { name: "Incheon, South Korea", coords: [37.4563, 126.7052] },
                    { name: "Seoul, South Korea", coords: [37.5665, 126.9780] },
                    { name: "Seongnam, South Korea", coords: [37.4200, 127.1265] },
                    { name: "Suwon, South Korea", coords: [37.2636, 127.0286] },
                    { name: "Hongcheon, South Korea", coords: [37.6972, 127.8886] },
                    { name: "Jeju, South Korea", coords: [33.4996, 126.5312] },
                    { name: "Osaka, Japan", coords: [34.6937, 135.5023] },
                    { name: "Kyoto, Japan", coords: [35.0116, 135.7681] },
                    { name: "Nara, Japan", coords: [34.6851, 135.8048] },
                    { name: "Taipei, Taiwan", coords: [25.0330, 121.5654] },
                    { name: "Bali, Indonesia", coords: [-8.3405, 115.0920] },
                    { name: "Xiamen, China", coords: [24.4798, 118.0894] },
                    { name: "Himeji, Japan", coords: [34.8151, 134.6853] },
                    { name: "Helsinki, Finland", coords: [60.1695, 24.9354] },
                    { name: "Prague, Czech Republic", coords: [50.0755, 14.4378] },
                    { name: "Cesky Krumlov, Czech Republic", coords: [48.8105, 14.3158] },
                    { name: "Vienna, Austria", coords: [48.2082, 16.3738] },
                    { name: "Salzburg, Austria", coords: [47.8095, 13.0550] },
                    { name: "Munich, Germany", coords: [48.1351, 11.5820] },
                    { name: "Berlin, Germany", coords: [52.5200, 13.4050] },
                    { name: "Dresden, Germany", coords: [51.0504, 13.7373] },
                    { name: "London, United Kingdom", coords: [51.5074, -0.1278] },
                    { name: "Oxford, United Kingdom", coords: [51.7520, -1.2577] },
                    { name: "Carcassonne, France", coords: [43.2130, 2.3510] },
                    { name: "Brussels, Belgium", coords: [50.8503, 4.3517] },
                    { name: "Bruges, Belgium", coords: [51.2093, 3.2247] },
                    { name: "Paris, France", coords: [48.8566, 2.3522] },
                    { name: "Davis, United States", coords: [38.5449, -121.7405] },
                    { name: "Seattle, United States", coords: [47.6062, -122.3321] }
                ];

                
                cities.forEach(function(city) {
                    var iconProps = getIconProperties(map.getZoom());
                    var initialIcon = L.icon({
                        iconUrl: 'https://bywlee.github.io/assets/pin-point.png',
                        iconSize: iconProps.size,
                        iconAnchor: iconProps.anchor,
                        popupAnchor: [0, 0] 
                    });
                    city.marker = L.marker(city.coords, {icon: initialIcon}).addTo(map)
                    .bindPopup(city.name);
                });
            });
        </script>
    </body>
</html>